/* Estilos globales de la aplicación */
body {
    font-family: 'Nunito', sans-serif;
    background-color: #f8f9fa;
}

/* Puedes agregar aquí otros estilos globales de la aplicación */
.menu-button {
    height: 180px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.menu-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.menu-icon {
    font-size: 3rem;
    margin-bottom: 10px;
}

.menu-title {
    font-weight: bold;
    font-size: 1.2rem;
} 